/* 
✦ like-icon — для svg-иконки анимированного сердца +
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки + */

.flat-button {
  border: 2px solid var(--Themes__mainColor, #000);
  background: transparent;
  color: var(--Themes__mainColor);

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  transition: box-shadow 0.5s;

  position: relative;

  overflow: hidden;

  transition: color 1s ease;
}

.flat-button::before {
  content: "";
  width: 100%;
  height: 100%;

  background-color: var(--Themes__mainColor);
  position: absolute;
  left: 0;
  top: 0;

  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.flat-button:hover {
  color: var(--Themes__background-color);
}

.flat-button:hover::before {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.flat-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--Themes__mainColor);
  outline: none;
}

.card__like-button {
  width: 134px; /* 130 + 2*2 — ширина с учётом толщины грониц */
  background-color: transparent;
}

.button__text {
  background-color: transparent;
  font: var(--header__font);
  line-height: 90%;

  z-index: 2;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: stretch;

  width: fit-content;
  height: 42px; /* 38 + 2*2 — высота с учётом толщины грониц */
  margin-inline-start: auto;
}
