/* 
✦ like-icon — для svg-иконки анимированного сердца +
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки + */

.card__icon-button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
}

.flat-button {
    border: 2px solid var(--Themes__mainColor, #000);
    background: var(--Themes__background-color, #FFF);
    color: var(--Themes__mainColor);

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    transition: box-shadow 0.5s; 
}

.flat-button:focus-visible {
    box-shadow: 2px 2px 0px 0px var(--Themes__mainColor);
    outline: none;
}


.card__like-button {    
    width: 134px; /* 130 + 2*2 — ширина с учётом толщины грониц */
    height: 42px; /* 38 + 2*2 — высота с учётом толщины грониц */
}

.like-icon {
    fill: var(--Themes__mainColor);
}


.button__text {
    color: var(--Themes__mainColor);
    font: var(--header__font);
    line-height: 90%;
}

.card__buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;

    width: fit-content;
    margin-inline-start: auto;
}