.footer__save-button {
    padding: 15px 20px ;

    height: fit-content;
    width: fit-content;

    font: var(--header__font);
    line-height: 90%;
}

@media (width <= 375px) {
    .footer__save-button {
        flex-direction: column;
    }
}

.footer__floppy-disc-icon {
    fill: var(--Themes__mainColor);
}