.header {
    color: var(--Themes__mainColor);
    font: var(--header__font);
    text-transform: uppercase;
    text-align: center;
    margin: auto;

    width: min(100%, 696px); /* надо сделать через clamp */
    border: 2px solid var(--Themes__mainColor, #000);
    background: var(--Themes__background-color, #FFF);
    padding: 25px; /* надо посчитать через clamp */

    margin-block-end: 108px;
}

.header__title {
    font-size: var(--header__font-size-title);
    margin-block-end: 20px;
}

.header__subtitle {
    font-size: var(--header__font-size-subtitle);
    margin-block-end: 25px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 14px;

    text-align: start;
    width: fit-content;
    margin: auto;

    position: relative;
}

.theme-menu__button {
    text-transform: uppercase;

    background: none;
    outline: none;
    border: none;

    cursor: pointer;
    border: 2px solid transparent;
}

.theme-menu__button:hover, .theme-menu__button:disabled {
    opacity: 0.6;
}

.theme-menu__button:disabled {
    pointer-events: none;
    position: relative;
}

.theme-menu__button:disabled::before {
    content: "▶";
    position: absolute;
    left: -19px;
    animation: theme-menu__animation 1s linear infinite;
    animation-fill-mode: both;
}

@keyframes theme-menu__animation {
    from {
        transform: translateX(5px);
    }

    50% {
        transform: none; 
    }

    to {
        transform: translateX(5px);
    }
}

.theme-menu__button:focus-visible {
    outline: none;
    border: 2px solid var(--Themes__mainColor); /* не по макету, но было странно, что фокусный элемент никак не выделяется */
}